<% @page_title = "Pages Index" %>

<div class="pages index">
  <h2>Pages</h2>

  <%= link_to("Add New Page", {:action => 'new'}, :class => 'action new') %>

  <table class="listing" summary="Page list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Subject ID</th>
      <th>Page</th>
      <th>Permalink</th>
      <th>Visible</th>
      <th>Sections</th>
      <th>Actions</th>
    </tr>
    <% @pages.each do |page| %>
    <tr>
      <td><%= page.position %></td>
      <td><%= page.subject_id %></td>
      <td><%= page.name %></td>
      <td><%= page.permalink %></td>
      <td class="center"><%= page.visible ? 'Yes' : 'No' %></td>
      <td class="center"><%= page.sections.size %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => page.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => page.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => page.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
