<% @page_title = "Create Page" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="pages new">
  <h2>Create page</h2>

  <%= form_for(:page, :url => {:action => 'create'}) do |f| %>

  <%= render(:partial => "form", :locals => {:f => f})

    <div class="form-buttons">
      <%= submit_tag("Create page") %>
    </div>

  <% end %>
</div>
