<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCms</title>
    <%= javascript_include_tag('public') %>
  </head>
  <body>

  <!-- before yield -->
  <%= yield %>
  <!-- after yield -->

  </body>
</html>
